@model IEnumerable<TestAppService.Models.Advertisment>

<p>
    @Html.ActionLink("Create New", "CreateProfesion",new { id = Session["UserId"].ToString() })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Status.Title)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Title)
        </td>
        <td>
            <input type="submit" value="Edytuj " class="btn btn-default btn-x" onclick="location.href='@Url.Action(" Edit", new { id=item.AdvertismentID })'" />
            <input type="submit" value="Szczegóły" class="btn btn-default btn-x" onclick="location.href='@Url.Action(" Details", new { id=item.AdvertismentID })'" />
            <input type="submit" value="Usuń" class="btn btn-default btn-x" onclick="location.href='@Url.Action(" Delete", new { id=item.AdvertismentID })'" />

        </td>
    </tr>
}

</table>
