@model IEnumerable<TestAppService.Models.Advertisment>

<h3>Welcome @(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest") - This is for autorized user</h3>
@if(Session["UserId"]!=null)
{
<h3>user id= @Session["UserId"].ToString()</h3>
}
else
{
    <h3>Welcome- id is 0</h3> 
}

<p>
    @Html.ActionLink("Create New", "CreateProfesion",new { id = Session["UserId"].ToString() })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ad_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad_AddDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad_Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.Status_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.First_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ad_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ad_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ad_AddDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ad_Budget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Status_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.First_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ad_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ad_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ad_ID })
        </td>
    </tr>
}

</table>
