@model IEnumerable<TestAppService.Models.Services>

@if (Session["UserId"] != null)
{
    <h3>user id= @Session["UserId"].ToString()</h3>
}
else
{
    <h3>Welcome- id is 0</h3>
}

<div class="list-group-item">
    <div class="checkbox">
        @using (Html.BeginForm("UserProfesion", "UserProfile", FormMethod.Post))
        {

            @Html.DisplayNameFor(model => model.Service_Name)

            foreach (var item in Model)
            {
                <div>
                    @Html.CheckBoxFor(modelItem => item.IsChecked)
                    @Html.DisplayFor(modelItem => item.Service_Name)
                    @Html.HiddenFor(modelItem => item.Service_ID)
                    @Html.HiddenFor(modelItem => item.Service_Name)
                </div>

                //new { id = item.Service_ID })
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Dodaj profesje" class="btn btn-default" />
                </div>

            </div>
        }
    </div>
</div>