@model IEnumerable<TestAppService.Models.Advertisment>

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Dodaj ogłoszenie " class="btn btn-default" onclick="location.href='/Advertisment/Create_Ad'"/>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ad_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ad_AddDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ad_Budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.Status_Name)
            </th>

            <th></th>
        </tr>
    </table>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad_Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad_AddDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad_Budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Status_Name)
                </td>

            </tr>
        }

        