@using TestAppService.Models;
@model Model_QA

@{
    ViewBag.Title = "Create_Ad";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Advertisment</h4>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(Advertisment => Model.Advertisment.Ad_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Advertisment => Model.Advertisment.Ad_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Advertisment => Model.Advertisment.Ad_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(Advertisment => Model.Advertisment.Ad_Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Advertisment => Model.Advertisment.Ad_Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Advertisment => Model.Advertisment.Ad_Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(Advertisment => Model.Advertisment.Ad_Budget, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Advertisment => Model.Advertisment.Ad_Budget, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Advertisment => Model.Advertisment.Ad_Budget, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Ad")
</div>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
