@model IEnumerable<TestAppService.Models.Advertisment>

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Dodaj ogłoszenie " class="btn btn-default" onclick="location.href='/Advertisment/CreateAdvetrisment'"/>
        wyszukiwanie
        filtry
    </div>

        @foreach (var item in Model)
        {
            <div class="form-group form1">
                <div class="AdLeftBox">
                    
                    <div class="Title-text">@Html.DisplayFor(modelItem => item.Name)</div>

                    <div>@Html.DisplayFor(modelItem => item.Description)</div>
                </div>
                    <div class="AdRightBox">
                        <div class="AtributBox">
                            <div>@Html.DisplayFor(modelitem=>item.User.FirstName)
                                 @Html.DisplayFor(modelitem=>item.User.LastName)
                            </div>
                            <div>Budżet: @Html.DisplayFor(modelItem => item.Budget)</div>
                            <div>Lokalizacja: @Html.DisplayFor(modelItem => item.Location.City)</div>
                            <div>Status: @Html.DisplayFor(modelItem => item.Status.Title)</div>
                        </div>
                    <input type="submit" value="Odpowiedz" class="btn btn-success" />

                    <div class="Add-DateTime">@Html.DisplayFor(modelItem => item.AddDateTime)</div>
                </div>
            </div>
        }

        